@charset "UTF-8";

.btn-xs, .btn-group-xs > .btn {
  padding: 0.05rem 0.05rem;
  font-size: 1.25rem;
  border-radius: 0.2rem;
}

.home {
  position: relative;
  background-color: #343a40;
  background: url("../assets/img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.home:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.disclaimer {
  position: relative;
  background-color: #343a40;
  background: url("../assets/img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 16.06rem;
  padding-bottom: 16.06rem;
}
.disclaimer:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.loading {
  position: relative;
  background-color: #343a40;
  background: url("../assets/img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20.8rem;
  padding-bottom: 20.8rem;
}
.loading:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.results {
  position: relative;
  background-color: #343a40;
  background: url("../assets/img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 1.9rem;
  padding-bottom: 0.9rem;
}
.results:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.homecontainer {
  top: 30%;
}

body {
  overflow: hidden !important;
}

footer.footer {
  position: absolute !important;
  width: 100% !important;
  bottom: 0 !important;
}