@charset "UTF-8";

.btn-xs, .btn-group-xs > .btn {
  padding: 0.05rem 0.05rem;
  font-size: 1.25rem;
  border-radius: 0.2rem;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-results {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

@media (min-width: 768px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead-results {
    min-height: 100vh;
    padding: 0;
  }
  .pb-6 {
    padding-bottom: 4.5rem !important;
  }
  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (max-width: 768px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead-results {
    min-height: 100vh;
    padding: 0;
  }
}